h4{
    margin-top: 0px;
    font-size: 40px;
    margin-left: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infoBox{
    margin-top: 100px;
    border-color: rgb(0, 46, 87) !important;
    border-width: 2px !important;
}
.footer-bottom{
    width: 100%;
  position: absolute;
  bottom: 0;

}

table {
    margin: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(197, 197, 197);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
  }

  .settings-buttons{
    background-color: rgb(0, 46, 87);
    border-color: rgb(0, 46, 87);
    color: white;
    margin: 5px;
    margin-bottom: 15px;
  }
  .settings-buttons:hover{
    background-color: white;
    color: rgb(0, 46, 87);
  }
