<head>
  <base href="/">

  <link type="text/css" href="/frontend/src/app/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>


<nav class="navbar navbar-expand-lg navbar-light navbar-default border-bottom">
  <img class="logo-size" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Firma_TEC.svg/1280px-Firma_TEC.svg.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link blueColor" href="#">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blueColor" href="#">Sobre Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blueColor" href="#">Contáctanos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <i class="bi bi-search search-icon"></i>
      <input class="form-control mr-sm-2 search" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn my-2 my-sm-0 buttons btn-outline-black" type="submit">Iniciar Sesión</button>
      <a class="bi bi-twitter icons" href="https://getbootstrap.com/docs/4.0/components/navbar/"></a>
      <i class="bi bi-instagram icons insta-logo"></i>
    </form>
  </div>
</nav>


<body>
  
  <div class="">
      <img class="principal-image" src="https://static.vecteezy.com/system/resources/thumbnails/001/399/217/original/happy-businesswoman-working-on-her-laptop-in-the-office-video.jpg">
      <h1 class="textt">hola</h1>
  </div>

</body>

<!-- Footer -->
<footer class="page-footer font-small pt-4 footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a> FIB's</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<router-outlet></router-outlet>
