<app-header></app-header>
<body>
  
    <div>
      <ul class="nav justify-content-center nav-currency">
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Compra USD ₡619.00</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Venta USD ₡632.00</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Compra EUR ₡621.04</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Venta EUR ₡627.47</small></a>
        </li>
      </ul>
    </div>
  
    <div class="">
      <img class="principal-image" src="assets/img/principalImage.jpg">
      <!-- 
        <h1 class="textt">SIEMPRE</h1>
        <h2 class="textt">Más cerca de vos</h2>
      -->
    </div>
  
    
  
    <div class="cards-bg crypto-bg">
        <div class="container ">


                <div class="row">

                  <div class="col-6 colSize">
                    <p class="d-flex text-crypto"> Primer banco en aceptar cryptomonedas. </p>
                    
                  </div>

                  <div class="col-6 colSize">
                    <img class="crypto-logos" src="assets/img/btcLogo.png">
                    <img class="crypto-logos" src="assets/img/ethLogo.png">
                    <img class="crypto-logos" src="assets/img/adaLogo.png">
                    <img class="crypto-logos" src="assets/img/dogeLogo.png">
                    
                  </div>
            
                </div>

          </div>

    </div>

    <div class="container cards-bg">
      <div class="row">
        <div class="col-12">
          <p class="d-flex justify-content-center text-cards"> Nuestras Tarjetas </p>
          <div class="card-deck position-relative">
            <div class="card justify-content-center">
              <img class="card-img-top" src="assets/img/redCard.png" alt="Card image cap">
              <div class="card-body justify-content-center">
                <h5 class="card-title justify-content-center">Regular Card</h5>
                <p class=" justify-content-center">Nuestra Regular Card es especial para nuestros clientes que solo mantienen una cuenta de ahorros poco activa.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/blueCard.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bussines Card</h5>
                <p class="card-text">Bussnes Card es la tarjeta que usan nuestros empresarios registradas, incluye bonuses.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/grayCard.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Platinum Card</h5>
                <p class="card-text">La Platinum Card es la mejor tarjeta para aquellos que tengan una cuenta de ahorros y otra de cryptomonedas.</p>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
    
  </body>
  <app-footer></app-footer>
