<body>
  
    <div>
      <ul class="nav justify-content-center nav-currency">
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Compra USD ₡613.5</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active currencyColor"><small>Compra EUR ₡712.8</small></a>
        </li>
      </ul>
    </div>
  
    <div class="">
      <img class="principal-image" src="assets/img/principalImage.jpg">
      <!-- 
        <h1 class="textt">SIEMPRE</h1>
        <h2 class="textt">Más cerca de vos</h2>
      -->
    </div>
  
    <h3 class="d-flex justify-content-center"> Nuestras Tarjetas </h3>
  
    <div class="container">
  
      
  
      <div class="row">
        <div class="col-12">
  
          <div class="card-deck position-relative">
            <div class="card justify-content-center">
              <img class="card-img-top" src="assets/img/redCard.png" alt="Card image cap">
              <div class="card-body justify-content-center">
                <h5 class="card-title justify-content-center">Red Card</h5>
                <p class=" justify-content-center">Especial para nuestros clientes que...</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/blueCard.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Blue Card</h5>
                <p class="card-text">Especial para nuestros clientes que...</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/grayCard.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Gray Card</h5>
                <p class="card-text">Especial para nuestros clientes que...</p>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
      <div class="row">
  
      </div>
  
    </div>
    
  </body>
  <app-footer></app-footer>
