h4{
    font-size: 40px;
}
h5{
    font-size: 25px;
}

.infoBox{
    margin-top: 50px;
    border-color: rgb(0, 46, 87) !important;
    border-width: 2px !important;
}

.inline{
    display: inline;
}

.settings-icons{
    font-size: 20px;
    color: rgb(0, 46, 87);
}

.footer-bottom{
    width: 100%;
  position: absolute;
  bottom: 0;
}

.settings-bg{
    margin-bottom: 15px;
    background-color: rgb(204, 204, 204);
}

.space{
    margin-bottom: 30px;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(197, 197, 197);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
  }

.pos{
    margin-top: 50px;
}

.settings-buttons{
    background-color: rgb(0, 46, 87);
    border-color: rgb(0, 46, 87);
    color: white;
    margin: 5px;
    margin-bottom: 20px !important;
  }
  .settings-buttons:hover{
    background-color: white;
    color: rgb(0, 46, 87);
  }

  .parButton{
    background-color: white;
    border-color: rgb(197, 197, 197);
    color: black;
    margin: 5px;
    margin-bottom: 10px !important;
  }
  .parButton:hover{
    background-color: rgb(197, 197, 197);
    color: black;
  }

.inputs{
  margin: 5px;
}

.ben-inputs{
  margin: 5px;
}
p{
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
}

.alert-style{
  border-color: rgb(197, 197, 197) !important;
  margin-left: 5px;
  background-color: white;
}