<app-secondheader></app-secondheader>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <div class="space pos">
                <a [routerLink]="['/clientPage']">
                    <i class="bi bi-file-person-fill settings-icons"></i>
                    <h5 class="blueColor inline ">
                        Cuentas
                    </h5>
                </a>    
            </div>
            <div class="space">
                <a [routerLink]="['/clientSettings']">
                    <i class="bi bi-wallet-fill settings-icons"></i>
                    <h5 class="blueColor inline">
                    Transacciones
                     </h5>
                </a>       
            </div>
            <div class="space">
                <a [routerLink]="['/clientSettings']">
                    <i class="bi bi-credit-card-fill settings-icons"></i>
                    <h5 class="blueColor inline">
                        Servicios varios 
                     </h5>
                </a>
            </div>
            <div class="settings-bg rounded">
                <h4 class="ss blueColor">
                    Administración de cuenta
                </h4>
            </div>
            
             

        </div>
        <div class="col-md-6 border infoBox rounded">
            <table>
                <tr>
                  <th *ngFor = "let column of headers">
                      {{column}}
                  </th>
                </tr>
            
                <tr *ngFor = "let row of Rows">
                    <td >
                      {{ row.nombre }}
                    </td>
                    <td>
                        {{row.cuentaAsociada}}
                    </td>
                    <td>
                        {{row.parentezco}}
                    </td>
                    <td>
                        {{row.porcentaje}}
                    </td>
                </tr>
            
            </table>

<div class="d-flex justify-content-center">
                <input class="form-control ben-inputs " #numCuenta id="numCuenta" placeholder="Numero de Cuenta">
              </div>
              <div class="d-flex justify-content-center">
                <input class="form-control ben-inputs " #valorDocIdentidad id="valorDocIdentidad" placeholder="Valor Documento Identidad">
              </div>
              
              <div class="d-flex justify-content-center">
                <input class="form-control ben-inputs " #porcentaje id="porcentaje" placeholder="Porcentaje">
              </div>
              <div class="">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn parButton" id="dropdownBasic1" ngbDropdownToggle>Parentezco</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="updateBenValue(1)">Padre</button>
                      <button ngbDropdownItem (click)="updateBenValue(2)">Madre</button>
                      <button ngbDropdownItem (click)="updateBenValue(3)">Hijo</button>
                      <button ngbDropdownItem (click)="updateBenValue(4)">Hija</button>
                      <button ngbDropdownItem (click)="updateBenValue(5)">Hermano</button>
                      <button ngbDropdownItem (click)="updateBenValue(6)">Hermana</button>
                      <button ngbDropdownItem (click)="updateBenValue(7)">Amigo</button>
                      <button ngbDropdownItem (click)="updateBenValue(8)">Amiga</button>
                    </div>
                </div>
                
          </div>
          

              
              
              
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary settings-buttons" >Agregar Beneficiario</button>
              <button type="submit" class="btn btn-primary settings-buttons">Eliminar Beneficiario</button>
              <button type="submit" class="btn btn-primary settings-buttons"(click)="addBen(numCuenta.value,valorDocIdentidad.value,porcentaje.value)">Editar Beneficiario</button>
              </div>
              

        </div>

    </div>

</div>
<div class="footer-bottom">
    <app-footer></app-footer>
</div>
