<app-secondheader></app-secondheader>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="cuentas-bg rounded">
                <h4 class="ss blueColor">
                    Cuentas
                </h4>
            </div>
            <div class="space">
                <a [routerLink]="['/clientPage']">
                    <i class="bi bi-wallet-fill settings-icons"></i>
                <h5 class="blueColor inline">
                    Transacciones
                 </h5>
                </a>
            </div>
            <div class="space">
                <a [routerLink]="['/clientPage']">
                    <i class="bi bi-credit-card-fill settings-icons"></i>
                <h5 class="blueColor inline">
                    Servicios varios 
                 </h5>
                </a>
            </div>
            <div>
                <a [routerLink]="['/clientSettings']">
                    <i class="bi bi-gear-fill settings-icons"></i>
                    <h5 class="blueColor inline">
                        Administración de cuenta 
                    </h5>
                </a>
                
                 
            </div>
             

        </div>
        <div class="col-md-6 border infoBox rounded">
            <table>
                <tr>
                  <th *ngFor = "let column of headers">
                      {{column}}
                  </th>
                </tr>
            
                <tr *ngFor = "let row of Rows">
                    <td >
                      {{ row.numCuenta }}
                    </td>
                    <td>
                        {{row.tipoCuenta}}
                    </td>
                    <td>
                        {{row.moneda}}
                    </td>
                    <td>
                        {{row.saldo}}
                    </td>
                </tr>
            
            </table>
            <div class="d-flex justify-content-center">
                
                <input class="form-control ben-inputs " #benInfo id="benInfo" placeholder="Digite una cuenta para ver sus beneficiarios">
                  
                <button type="submit"  class="btn btn-primary settings-buttons" (click)="goToBen(benInfo.value)" >Buscar</button>
            </div>

              

        </div>

    </div>

</div>



<div class="footer-bottom">
    <app-footer></app-footer>
</div>
