.bg{
    height: 100%;
    width: 100%;
    position: relative;
}

.forms{
    padding: 2%;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-icons{
    font-size: 30px;
    color: rgb(0, 46, 87);

}

.form-button{
    background-color: rgb(0, 46, 87);
    border-color: rgb(0, 46, 87);
    color: white;
}
.form-button:hover{
    background-color: white;
    border-color: rgb(0, 46, 87);
    color: rgb(0, 46, 87);
}

.login-footer{
    height: 240px;
    margin-top:-250px;
    background-color: white;
    color:white;
}

.footer-icons{
  font-size: 25px;
  color: rgb(0, 20, 37);
}

.footer-logo{
  width: 180px;
  height: 80px;
  margin-left: 30px;
}

.footer-pos{
    margin-left: 85px;
  }

.checkBox{
   margin-bottom: 10px;
}