<app-secondheader></app-secondheader>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="cuentas-bg rounded">
                <h4 class="ss blueColor">
                    Cuentas
                </h4>
            </div>
            
        </div>
        <div class="col-md-9 border infoBox rounded">
            <table>
                <tr>
                  <th *ngFor = "let column of headers">
                      {{column}}
                  </th>
                </tr>
            
                <tr *ngFor = "let row of Rows">
                    <td >
                      {{ row.numCuenta }}
                    </td>
                    <td>
                        {{row.tipoCuenta}}
                    </td>
                    <td>
                        {{row.moneda}}
                    </td>
                    <td>
                        {{row.saldo}}
                    </td>
                </tr>
            
            </table>

        </div>

    </div>

</div>

    <app-footer></app-footer>


