<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="cuentas-bg rounded">
                <h4 class="ss blueColor">
                    Cuentas
                </h4>
            </div>
            
        </div>
        <div class="col-md-9 border infoBox rounded">
            <table>
                <tr>
                    <th>Nombre Cliente</th>
                  <th>Tipo de cuenta de ahorros</th>
                  <th>Id</th>
                  <th>Moneda</th>
                  <th>Saldo</th>
                </tr>
                <tr>
                    <td>Fabio</td>
                  <td>Ahorro</td>
                  <td>3</td>
                  <td>₡</td>
                  <td>1,000.00</td>
                </tr>
                <tr>
                    <td>Ivan</td>
                    <td>Ahorro en dólares</td>
                    <td>1</td>
                    <td>$</td>
                    <td>537.00</td>
                </tr>
                <tr>
                    <td>Miguelito</td>
                    <td>Ahorro en euros</td>
                    <td>2</td>
                    <td>€</td>
                    <td>13.00</td>
                </tr>
              </table>

        </div>

    </div>

</div>
<div class="footer-bottom">
    <app-footer></app-footer>
</div>

