/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
h1{
    font-size: 120px;
    color: rgb(0, 46, 87) !important;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h2{
    font-size: 50px;
    color:rgb(0, 20, 37) !important;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h3{
    font-size: 40px;
    color: white !important;

  }
  
  .blueColor{
      color: rgb(0, 46, 87) !important;
    }
  .darkerBlue{
    color:rgb(0, 20, 37) !important;
  }

  .background-blue{
    background-color: rgb(0, 46, 87) !important;
  }
  
    .currencyColor{
      color: white;
    }
    .currencyColor:hover{
      color: white;
    }
    
    .navbar-default { 
      border-color: rgb(0, 46, 87) !important;
      border-width: 2px !important;
      background-color: white;
    }
  
    .nav-currency{
      background-color: rgb(0, 46, 87) !important;
      height: 43px;
    }
  
    .logo-size{
      width: 90px;
      height: 40px;
      margin-right: 10px;
      margin-left: 100px;
    }
    .icons{
  
      font-size: 30px;
      color: rgb(0, 46, 87);
      margin-left: 10px;
    }
    .icons:hover{
      color: black;
      border: 1px;
      border-color: black;
      text-shadow: black;
    }

    .log-icon{
  
      font-size: 25px;
      color: rgb(0, 46, 87);
      margin-left: 50px;
    }
    .log-icon:hover{
      color: black;
      border: 1px;
      border-color: black;
      text-shadow: black;
    }
  
    .insta-logo{
      margin-right: 100px;
    }
  
    .principal-image{
      height: 100%;
      width: 100%;
      opacity: 0.9;
      filter: grayscale(20%);
    }
  
    .buttons{
      background-color: rgb(0, 46, 87);
      border-color: rgb(0, 46, 87);
      color: white;
      margin-left: 10px;
      margin-right: 110px;
    }
    .buttons:hover{
      background-color: white;
      color: rgb(0, 46, 87);
    }
  
    .search{
      border-color: rgb(0, 46, 87);
      color: rgb(0, 46, 87);
      margin-right: 100px;
    }
    .search:hover{
      background-color: white;
    }
    .search-icon{
      font-size: 23px;
      color: rgb(0, 46, 87);
      margin-right: 10px;
    }
  
    .footer{
      height: 240px;
      margin-top:-250px;
      background-color: rgb(148, 148, 148);
      color:white;
    }

  
    .container {
      position: relative;
    }

    .full-page{
      height: 100%;

    }

  .words-header{
    margin-left: 85px;
  }
  .words-style-header{
    color: rgb(0, 46, 87) !important;
    font: bold;
  }

    


