

  <!-- Part 1: Wrap all page content here -->

              <!-- Footer -->
            <footer class="page-footer font-small pt-4 mt-auto footer ">

              <!-- Footer Links -->
              <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <img class="logo-size" src="assets/img/FIBcropped.png">
                    <h5 class="text-uppercase darkerBlue">Fabio and Ivan's Bank</h5>
                    

                  </div>
                  <!-- Grid column -->

                  <hr class="clearfix w-100 d-md-none pb-3">

                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase darkerBlue">Sobre Nosotros</h5>

                    <ul class="list-unstyled">
                      <li>
                        <h6 class="darkerBlue">
                          Somos el banco del futuro, vinimos por el cambio, 
                          nos puedes encontrar en nuestras sucursales a lo largo del país,
                          somos el primer banco que acepta cryptos y el más confiable.

                        </h6>
                    </ul>

                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase darkerBlue">Contáctanos</h5>

                    <ul class="list-unstyled">                
                      <li>
                        <a href="#!"><i class="bi bi-twitter footer-icons"></i></a>
                      </li>
                      <li>
                        <a href="#!"><i class="bi bi-instagram footer-icons"></i></a>
                      </li>
                      <li>
                        <a class="footer-icons" href="#!">
                          <i class="bi bi-whatsapp "></i>
                          8302-5002
                        </a>
                      </li>
                    </ul>

                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

              </div>
              <!-- Footer Links -->

              <!-- Copyright -->
              <div class="footer-copyright text-center py-3 darkerBlue">© 2021 Copyright:
                <a> FIB's</a>
              </div>
              <!-- Copyright -->

            </footer>
            <!-- Footer -->
  
